@import '../../css-variables/constants.css';

.technicianPage {
    text-align: right;
    padding: 0 var(--gutterHorizontal);
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.technicianPage header {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.5rem;
}
.technicianPage header h6 {
    margin-bottom: 0;
}
.technicianPage h1 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
.technicianPage h2 {
    font-size: 1.3rem;
}
.technicianPage h2:first-of-type {
    margin-top: 1rem;
}
.technicianPage p, a {
    text-indent: 1rem;
}
.technicianPage a {
    margin-block: 0.5rem;
}

.technicianPage * {
    margin-top: 0;
}

.clickable {
    background-color: #f1f2ff;
    border-radius: 3rem;
    padding: 3px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    align-self: self-start;
    font-weight: bold;
}

.listItem {
    border-top: 1px solid #e4e4e4;
    display: flex;
    padding-right: 1rem;
    position: relative; /* This is needed for the badge positioning */

    flex-direction: row; /* Arrange children in a row (default, but explicit for clarity) */
    align-items: center; /* Vertically align items (text and image) in the center */
    justify-content: flex-start;
    padding-left: 1rem; /* Add padding to the left side */
    gap: 15px; /* Space between the text content and the image */
    height: 80px; /* Define a fixed height for the list item, adjust as needed */
    box-sizing: border-box; /* Include padding and border in the total height */
}

.listItem h2 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: right;
}
.listItem p {
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: right;
    text-indent: 0;
}

.itemImage {
    /* Image sizing */
    height: 90%; /* Make image height fit the parent .listItem's height */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures the whole image is visible without cropping */
    max-width: 80px; /* Optional: Set a max width to prevent extremely wide images. Adjust as needed based on your 80px height. */
    flex-shrink: 0; /* Prevent the image from shrinking if space is tight */
    margin: 1.2rem
}

.itemTextContent {
    display: flex; /* Make this a flex container too, for column layout of name/cat */
    flex-direction: column; /* Stack name and cat number */
    justify-content: flex-end; /* Center them vertically within their own container */
    width: 50%;
    /* No margin-right here because gap on .listItem handles spacing */
}

.itemsWrapper {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--navbarHeight) - var(--searchInputHeight) - 2*var(--searchSelectHeight) - 6*var(--searchPadding) - 2*0.5rem);
}