@import '../../css-variables/constants.css';

.customElementContainer[data-custom-element] {
    display: flex;
    width: fit-content;
}

.customElementContainer[data-custom-element] {
    display: flex;
    width: 33%;
    justify-content: center;
}