.file-upload {
  text-align: center;
  /* padding: 1.5rem; */
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.file-upload > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 10px;
  
}

.file-upload > span > span {
  display: grid;
  flex-shrink: 1;
  width: 2.5rem;
  align-items: center;
  justify-items: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin: 2px;
  padding: 0px 5px;
  border-color: black;
  height: 70%;
}

.file-upload > span > span > * {
  grid-area: 1 / 1 / 2 / 2; /* A shorthand for grid-column and grid-row */
}

.file-upload * {
  margin-bottom: 0;
}

.file-upload input[type="text"] {
  flex-grow: 1;
}

.file-upload input[type="file"] {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1; /* Ensure it's on top of the icon */
}

.file-upload > span > span {
  display: grid;
  place-items: center; /* A shorthand for align-items and justify-items */
  width: auto; /* Change from a fixed size */
  height: auto; /* Change from a fixed size */
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  padding: 5px; /* Add padding to give space around the icon */
  position: relative; /* Make this a positioning context for the file input */
  overflow: hidden; /* This will clip the file input's default text/button */
}

